<h1>Login failed</h1>
<%if (typeof alreadyLoggedIn != "undefined" && alreadyLoggedIn) { %>
<p> You are already logged in!</p>
<% } %>
<form action="/register">
    <input type="submit" value="Register" />
</form>

<form action="/LOGIN">
    <input type="submit" value="Log-in again" />
</form>