<h1>Registration page</h1>

<p>Register here by entering your username and password</p>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
    </div>
    <div>
        <label for="passwordConfirm">Confirm password</label>
        <input type="text" id="passwordConfirm" name="passwordConfirm">
    </div>
    <button type="submit">Register</button>
</form>

<%if (typeof validPwd != "undefined" && !(validPwd === 'true')) { %>
<p> The passwords did not match! Please try again. </p>
<% } %>
<% if (typeof validUser !== "undefined" && !(validUser === 'true')) { %>
<p> Username is already in use, please try another one.</p>
<% } %>
<div id="footer">
    <form action="/LOGIN">
        <input type="submit" value="Existing account? Log-in here" />
    </form>
</div> 
